.alacarteTitle{
    font-size : 5vw;
    text-align : center;
    margin-top :30px;
}

.alacarteMenus{
    position: absolute;
    left: 15%;
    list-style: none;
    margin-top: 30px;
    float:left;
    font-size: 3vw;
}

.alacarteMenus ul{
    font-weight: bold;
    margin-top: 20px;
}

.alacartePrices{
    position: absolute;
    right: 20%;
    list-style: none;
    margin-top: 30px;
    float:right;
    font-size: 3vw;
}

.alacartePrices ul{
    font-weight: bold;
    margin-top: 20px;
}