.kidsTitle{
    font-size : 5vw;
    text-align : center;
    margin-top :30px;
}

.kidsMenus{
    position: absolute;
    left: 15%;
    list-style: none;
    margin-top: 30px;
    float:left;
    font-size: 4vw;
}

.kidsMenus ul{
    font-weight: bold;
    margin-top: 20px;
}

.kidsPrices{
    position: absolute;
    right: 20%;
    list-style: none;
    margin-top: 30px;
    float:right;
    font-size: 4vw;
}

.kidsPrices ul{
    font-weight: bold;
    margin-top: 20px;
    text-align: center;
}