.mainSideTitle{
    font-size : 5vw;
    text-align : center;
    margin-top :30px;
}

.mainSideMenus{
    position: absolute;
    left: 25%;
    list-style: none;
    margin-top: 30px;
    float:left;
    font-size: 2vw;
}

.mainSideMenus ul{
    font-weight: bold;
    margin-top: 20px;
}

.mainSidePrices{
    position: absolute;
    right: 30%;
    list-style: none;
    margin-top: 30px;
    float:right;
    font-size: 2vw;
}

.mainSidePrices ul{
    font-weight: bold;
    margin-top: 20px;
    text-align: center;
}