body{
    height : 100vh;
}


.content{
    width:87vw;
    height: 100%;
    float: left;
    position: fixed;
    left:250px;
    background-image: url("../assets/shabubg1.jpg");
    background-repeat: no-repeat;
  background-size: cover;    
}


.mainTitle {
    position: absolute;
    font-size: 300px;
    font-size: 10vw;
    text-align: center;
    float: left;
    top: 50%;
    color:black;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Charm', cursive;
  }